@media screen and (max-width: 950px) {
    header .container {
    display: flex;
    flex-direction: column;
    }

    .navright {
        display: none;
    }

    .botao {
    margin-top: 5px;
    width: 300px;
    display: flex;
    }

    .descricao {
    width: 130%;
    }

    .filme-principal {
        height: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 70%;
    }
}
